Update the name of this file to '.env' when the fields have been filled
# NOTES:
# DB_USER must contain user will be name user to connect to database E.G. "regulondbdatamarts"
# DB_PASS must contain password for the DB_USER 
# DB_URL syntax is Url:Port/databaseName?authSource=admin&readPreference=primary&ssl=false for example 0.0.0.0:27017/regulondbdatamarts?authSource=admin&readPreference=primary&ssl=false
# GRAPHQL_GATEWAY_PORT is the port where Apollo Gateway services will be, by default is 4001
# GRAPHQL_CLOSED_SERVICES_PORT is the port where private services will be, by default is 4002
# GRAPHQL_OPEN_SERVICES_PORT is the port where public services will be, by default is 4003

DB_USER =
DB_PASS =
DB_URL =
GRAPHQL_GATEWAY_PORT =
GRAPHQL_CLOSED_SERVICES_PORT = 
GRAPHQL_OPEN_SERVICES_PORT =
