{
    "development":{
        "DB_USER": "devUser",
        "DB_PASS": "devPass",
        "DB_URL": "devURL"
    },
    "production":{
        "DB_USER": "prodUser",
        "DB_PASS": "prodPass",
        "DB_URL": "prodURL"
    }
}